<!DOCTYPE html>
<html>
  <head>
    <title>GraphqlDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-app">
      <ul class="nav-list">
        <li class="nav-item"><a href="<%= companies_path %>">Companies</a></li>
        <li class="nav-item"><a href="<%= users_path %>">Users</a></li>
        <li class="nav-item"><a href="<%= addresses_path %>">Addresses</a></li>
        <li class="nav-item"><a href="<%= posts_path %>">Posts</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
